@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&display=swap');

#root {
  --blue: #2d3e9e;
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.div {
  align-items: center;
  background: var(--blue);
  color: white;
  margin-top: 10px;
  padding: 0;
  box-sizing: border-box;
  height: 50px;
  flex: auto;
  }

label {
  color: white;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

button {
  border: none;
  color: black;
  background: #33a107;
}

button:hover {
  background: rgb(180, 180, 180);
  color: white;
}

#filter {
  display: flex;
  justify-content: flex-start;
}