#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.div {
  align-items: center;
  background: #2d3e9e;
  color: white;
  margin-top: 10px;
  padding: 0;
  box-sizing: border-box;
  height: 50px;
  flex: auto;
  }

label {
  color: white;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

TableHead {
  color: green;
}