@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@200&display=swap');

#root {
  --blue: #2d3e9e;
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
}

.div {
  align-items: center;
  background: var(--blue);
  color: white;
  margin-top: 10px;
  padding: 0;
  box-sizing: border-box;
  border-radius: 3px;
  height: auto;
  flex: auto;
  }


form {
  text-align: justify;
}

label {
  color: black;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.button {
  height: 25px;
  width: 100px;
  border: 1px solid black;
  border-radius: 4px;
  color: black;
  background: white;
}

.button:hover {
  background: rgb(180, 180, 180);
  color: white;
}

#filter {
  display: flex;
  justify-content: flex-start;
}

/* CLASS TO HIDE MODAL */
.hidden {
  display: none;
}

#addButton {
  border: none;
  background-color: rgb(26, 179, 6);
  color: white;
  left: 40%;
  position: absolute;
  margin-top: 10px;
  height: 30px;
}
