.edit-button {
    border: none;
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 5px;
    background-color: #4256c9; ;
    color: white;
}

.edit-button:hover {
    cursor: pointer;
}

.proc-container {
    background-color: #f3f3f2;
    padding: 10px;
    height: 82vh;
}

.proc-datagrid {
    margin-top: 5px;
    height: auto;
    width: 100%;
}