.filterContainer {
  background: var(--blue);
  color: white;
  margin-top: 10px;
  box-sizing: border-box;
  height: 50px;
  flex: auto;
  display: flex;
  align-items: center;

}

.button {
  display: flex;
  align-items: center;
  font-size: large;
  height: 35px;
  border-radius: 5px;
}

.icon {
  margin-right: 5px;
}

#searchButton {
  margin-left: 10px;
  width: 205px;
  background-color: #e0e0e0;
  border: none;
}
#searchButton:hover {
  cursor: pointer;
  background-color: #858585;
  color: white;
}

#addProcessButton {
  margin-left: 10px;
  width: 205px;
  background-color: #00cc00;
  border: none;
}
#addProcessButton:hover {
  cursor: pointer;
  background-color: #009900;
  color: white;
}

#deleteButton {
  margin-left: 10px;
  width: 175px;
  max-width: 300px;
  background-color: #ff0000;
  border: none;
}
#deleteButton:hover {
  cursor: pointer;
  background-color: #b20000;
  color: white;
}

#select {
  margin-left: 10px;
  width: 150px;
  background-color: #232f74;
  color: white;
  border: 10px var(--blue);
}
#select:hover {
  cursor: pointer;
  background-color: var(--blue);
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.formRow {
  margin-bottom: 2px;
}
