
.filterContainer {
  background: #4256c9;
  color: white;
  box-sizing: border-box;
  height: 35px;
  width: max-content;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  font-size: large;
  height: 25px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: #000;
  margin: 1px;
  padding: 5px;
}

.button:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.filter-button {
  border: none;
  margin-left: 10px;
  background: none;
  color: white;
}

.filter-button:hover {
  cursor: pointer;
  color: #d8d8d8;
}

#addProcessButton {
  margin-left: 10px;
  width: 205px;
  background-color: #35bb35;
  color: white;
  border: none;
}
#addProcessButton:hover {
  cursor: pointer;
  background-color: #2fa82f;
  color: white;
}

.select {

  width: 150px;
  display: flex;
  align-items: center;
  font-size: large;
  height: 25px;
  border: none;
  border-radius: 5px;
}
.select:hover {
  cursor: pointer;
}

#selectTodos {
  background-color: #2d3e9e;
  color: white;
}
#selectTodos:hover {
  cursor: pointer;
  background-color: #1f2d6e;
}


#selectRelatoria {
  background-color: #04b4f4;
  color: white;
}
#selectRelatoria:hover {
  cursor: pointer;
  background-color: #0390c9;
}

#selectFinalizado {
  background-color: #9c3404;
  color: #ffc000;
}
#selectFinalizado:hover {
  cursor: pointer;
  background-color: #7f2c03;
}

#selectSobrestado {
  background-color: #cc99ff;
  color: white;
}
#selectSobrestado:hover {
  cursor: pointer;
  background-color: #b380e0;
}

#selectTramitando {
  background-color: #fc9c34;
  color: white;
}
#selectTramitando:hover {
  cursor: pointer;
  background-color: #e68a00;
}


