.sidebar-icon {
  color: white;
}

.sidebar {
  transition: width 0.3s ease; /* Adicione a transição aqui */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #03467d;
  color: white;
  width: 15rem;
}


.menu-header {
  background-color: #03467d;
  border-bottom: 1px solid #1c598a;
  display: flex;
  align-items: center;
  padding: 7%;
  width: 100%;
  height: 10%;
  font-size: 16px;
}


.menu-links {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 2rem;
  font-size: 20px;
  width: 100%;
  height: calc(85% - 50px); /* Ajuste a altura de acordo com a altura do rodapé */
}

.link {
  display: flex;
  column-gap: 1.5rem;
  color: white;
  padding: 0.5rem;
  margin: 0;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 2.5rem;
  transition: transform 0.2s ease-out;
}

.link:hover {
  background-color: #1c598a;
  cursor: pointer;
  transform: scale(1.05);
}

.logo {
  width: 40px; /* Ajuste o tamanho da imagem conforme necessário */
  height: 50px;
  margin-right: 5px; /* Espaçamento entre a imagem e o texto */
}

.menu-footer {
  border-top: 1px solid #1c598a;
  width: 100%;
  height: 50px; /* Altura fixa para o rodapé */
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.5rem;
}

.toggle-button {
  background: none;
  border: none;
  color: white;
}

.toggle-button:hover {
  cursor: pointer;
}
