.card {
    text-align: center;
    border: none;
    width: 200px;
    height: 150px;
    margin: 5px;
}

.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer;
}

#card-header-high-priority {
    background-color: #f7d5d6;
    border: 2px solid #ea9798;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    color: #d52f30;
    height: auto;
}
#card-header-middle-priority {
    background-color: #fff8e2;
    border: 2px solid #fade94;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    color:  #ffa000;
    height: auto;
}

#card-header-low-priority {
    background-color: #d6f6d5;
    border: 2px solid #9aea96;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    color:  #34d42c;
    height: auto;
}

#card-body-high-priority {
    background-color: white;
    border: 2px solid #ea9798;
    color: #d52f30;
    border-radius: 0 0 5px 5px;
    height: 85%;
}
#card-body-middle-priority {
    background-color: white;
    border: 2px solid #fade94;
    color: #ffa000;
    border-radius: 0 0 5px 5px;
    height: 85%;
}
#card-body-low-priority {
    background-color: white;
    border: 2px solid #9aea96;
    color: #34d42c;
    border-radius: 0 0 5px 5px;
    height: 85%;
}

.value {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
}

.text {

    font-size: 1.0em;
    margin: 10px 0;
}