
.header {
    display: flex;
    align-items: center;
    background: var(--blue);
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
  }
  
  .logo {
    width: 50px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
    margin: 10px 10px 10px 10px; /* Espaçamento entre a imagem e o texto */
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 1000;
    margin: 2px 10px 0px 10px;
  }

  h2 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: 200;
    margin: 0px 0px 10px 10px;
  }
