.painel-container {
  display: flex;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
}
.pie-chart {
  display: flex;
}

.grafico {
  display: flex;
  margin: 10px;
}
  
.detalhe {
  display: flex;
  max-width: 400px;
  align-items: center;
}

.assessor-info {
  display: flex;
  align-items: center;
}
